.card-img-top {
    width: 150px;
}

@media (max-width: 400px) {
    .card-img-top {
        width: 120px;
    }

    .game {
        padding-top: 25px;
    }
}

.memory-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: none;
}

.btn-success {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
}

.title {
    text-align: center;
    color: white !important;
    margin-bottom: 20px;
}

body, .card {
    background-color: darkgray !important;
}

.status {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 36px;
    padding-right: 10px;
}

#timer {
    padding-right: 15px;
}